@use 'sass:math';

.sbx-row {
  --sbx-x: 1.5rem;
  --sbx-y: 0;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: calc(-1 * var(--sbx-y));
  margin-right: calc(-.5 * var(--sbx-x));
  margin-left: calc(-.5 * var(--sbx-y));
  width: 100%;
}

.sbx-col {
  display: block;
  flex: 0 0 auto;
  width: auto;
}

@mixin make-col($size: false, $columns: $grid-columns) {
  @if $size {
    flex: 0 0 auto;
    width: calc((100% / $columns) * $size);

  } @else {
    flex: 1 1 0;
    max-width: 100%;
  }
}

@for $i from 1 through $sbx-grid-columns {
  @each $breakpoint-names in map-keys($sbx-grid-breakpoints) {
    .sbx-col-#{$breakpoint-names}-#{$i} {
      @include make-col($i, $sbx-grid-columns);
    }
  }
}